root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Languages that conventionally use 4 spaces
[*.{py,rs,java,kt}]
indent_size = 4

# Languages that conventionally use tabs
[*.{go,mk}]
indent_style = tab

[Makefile]
indent_style = tab

# Markdown trims would eat hard line breaks
[*.md]
trim_trailing_whitespace = false
